{% extends "base.html" %}
{% load static %}
{% load web_extras %}
{% load render_bundle from webpack_loader %}
{% load comments humanize %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% joust_static 'joust.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/belwefs_extrabold_macroman/stylesheet.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/franklingothicfs_mediumcondensed_macroman/stylesheet.css' %}"/>

	{% comment %} The following shim fixes card texture clipping in Firefox.
	See bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1075457 {% endcomment %}
	<style type="text/css">
		{% include "games/svg-paths-shim.css" with svg="/static/svg-paths.svg" %}
	</style>
{% endblock %}

{% block meta %}
{% with replay.generate_description as description %}
	{{ block.super }}
	<meta property="og:title" content="{{ replay.pretty_name_spoilerfree }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:url" content="{{ canonical_url }}" />
	<meta name="date" content="{{ replay.global_game.match_start|date:"c" }}">
	<link rel="canonical" href="{{ canonical_url }}" />
	<link rel="me" href="https://twitter.com/hsreplaynet" />
	<meta name="description" content="{{ description }}" />
{% endwith %}
{% endblock %}

{% block title %}{{ replay.pretty_name_spoilerfree }}{% endblock title %}

{% block fullcontent %}
<div id="tabletop" class="container-fluid">
	<div class="row full_height">
		<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 full_height">
			<div class="full_height">
				<div id="joust-container" class="full_height"
					data-replayurl="{{ replay.replay_xml.url }}"
					{% if user.is_authenticated %}data-locale="{{ user.locale }}"{% endif %}
				></div>
			</div>
		</div>
		<div class="col-xs-12 visible-xs visible-sm">
			<br/>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
			{% with replay.global_game as gg %}
			<div id="replay-infobox">
				{% if gg.is_ranked %}
					<h1>
						Ranked
						{% if gg.format.name == "FT_STANDARD" %}
							 - Standard
						{% elif gg.format.name == "FT_WILD" %}
							 - Wild
						{% endif %}
					</h1>
				{% elif gg.is_casual %}
					<h1>
						Casual
						{% if gg.format.name == "FT_STANDARD" %}
							 - Standard
						{% elif gg.format.name == "FT_WILD" %}
							 - Wild
						{% endif %}
					</h1>
				{% elif gg.is_tavern_brawl %}
					<h1>Tavern Brawl</h1>
				{% elif gg.game_type.name == "BGT_ARENA" %}
					<h1>Arena</h1>
				{% else %}
					<h1>Ranked</h1>
				{% endif %}
				<h2>Share <span id="replay-visibility">{{ replay.visibility.name }}{% if user.is_staff %} ({{ replay.views }} views){% endif %}</span></h2>
				<div id="share-game-dialog" data-url="{{ canonical_url }}"></div>
				<h2>Players</h2>
				<ul id="infobox-players">
					{% for player in gg.players.all %}
						<li>
							{{ player }}
							{% if player.final_state.name == "WON" %}(Won){% endif %}
							<a class="infobox-value {% if player.is_ai %}player-ai{% endif %} {% if player.is_first %}player-first{% endif %}"
								onclick="$('#infobox-deck-{{ player.player_id }}').toggle()" href="javascript:;">
								Show deck
							</a>
							<ul id="infobox-deck-{{ player.player_id }}" style="display: none;">
								{# TODO: Make this an API call (inefficient as-is) #}
								{% for include in player.deck_list.include_set.all %}
									<li>{{ include }}</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
				<h2>Game</h2>
				<ul id="infobox-game">
					<li>Played <span class="infobox-value"> {{ gg.match_start|naturaltime }} </span></li>
					{% if replay.build %}
						<li>Build <span class="infobox-value"> {{ replay.build }} </span></li>
					{% endif %}
					{% if gg.ladder_season %}
						<li>Season <span class="infobox-value"> {{ gg.ladder_season }} </span></li>
					{% endif %}
					<li>Turns <span class="infobox-value"> {{ gg.num_turns }} </span></li>
					{% if replay.spectator_mode %}
						<li>Spectator mode <span class="infobox-value">POV: {{ replay.friendly_player.name }}</span></li>
					{% endif %}
				</ul>
				{% comment %}
				<h2>Related</h2>
				<ul id="infobox-related">
					<li class="related-empty">No similar games found</li>
					<!-- This is too slow, it's killing the server. Figure out how to optimize it before uncommenting. -->
					{% for recommendation in replay.related_replays %}
						<li><a href="{{ recommendation.replay.get_absolute_url }}">{{ recommendation.replay }}</a></li>
					{% empty %}
						<li class="related-empty">No similar games found!</li>
					{% endfor %}
				</ul>
				{% endcomment %}

				<!-- TODO: move this to Joust itself, in the extra menu -->
				<h2><a href="{{ replay.replay_xml.url }}" download="{{ replay.shortid }}.hsreplay">Download XML</a></h2>
			</div>
			{% endwith %}
		</div>
	</div>
</div>

<script src="{% joust_static 'joust.js' %}"></script>
{% render_bundle "replay_detail" %}

<div id="replay-comments" class="container-fluid">
		<div class="row">
		<div class="col-lg-4 col-xs-12">
			<h2>Comments</h2>

			{% if user.is_authenticated %}
				{% get_comment_form for replay as form %}
				<form id="comment-form" action="{% comment_form_target %}" method="POST">
					{% csrf_token %}
					{# {{ form.comment }} #}
					<textarea name="comment" rows="10" class="form-control" cols="40" id="id_comment" maxlength="3000" required></textarea>
					{{ form.honeypot }}
					{{ form.content_type }}
					{{ form.object_pk }}
					{{ form.timestamp }}
					{{ form.security_hash }}
					<input type="hidden" name="next" value="{{ replay.get_absolute_url }}"/>

					<em>Note: Your Battletag will be visible to other users.</em>
					<input type="submit" value="Post" class="btn btn-info"/>
				</form>
			{% endif %}

			{% render_comment_list for replay %} {# comments/list.html #}
		</div>
	</div>
</div>

{% endblock %}
