{% load static %}
{% load web_extras %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ replay.pretty_name_spoilerfree }}</title>
	{% include "games/stylesheets.html" %}
	<style type="text/css">
		html, body, #joust-container {
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}
	</style>
</head>
<body>
	<div id="joust-container" data-replayurl="{{ replay.replay_xml.url }}"></div>
	<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/react.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/react-dom.min.js' %}"></script>
	<script src="{% joust_static 'joust.js' %}"></script>
	{% render_bundle "replay_embed" %}
</body>
</html>
