{% extends "base.html" %}
{% load static %}
{% load web_extras %}

{% block title %}Win Rates{% endblock %}

{% block fullcontent %}
	<div class="page-header">
		<div class="container">
			<h1>Deck Winrates</h1>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>Player Class: {{ player_class }}</li>
						<li>Minimum Player Rank: {{ max_rank }}</li>
						<li>Game Type: {{ game_type }}</li>
						<li>Minimum Number Of Games Played With Deck: {{ min_games }}</li>
						<li>Cards Required In Deck:
							<ul>
								{% for card in cards %}
									<li>{{ card.name }}</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
						<tr>
						{% for column in winrate_columns %}
							<th>{{ column }}</th>
						{% endfor %}
						</tr>

						{% for deck_info in decks_by_winrate %}
							<tr>
								{% for item in deck_info %}
									<td>{{ item }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
