{% extends "account/base.html" %}

{% block content %}
	<h2>Merging accounts</h2>
	<p>
		<strong>Did you log in with the wrong Battle.net account?</strong><br/>
		You can link multiple Battle.net accounts
		<a href="{% url 'socialaccount_connections' %}#account-connections">in the Battle.net section</a>.
	</p>

	<h2>Leaving so soon?</h2>

	<p>
		Problems with the site? Something you're not happy about?
		Maybe we can fix it. <a href="mailto:help@hsreplay.net">Shoot us an email</a>!
	</p>
	<p>
		<form action="" method="POST" onsubmit="return confirm('Are you *really* sure?')">
			{% csrf_token %}
			<p>
				Once your data is gone, it's irreversible. Are you sure?
			</p>
			<div class="checkbox">
				<label>
					<input name="delete_confirm" type="checkbox" required="required"/>
					<strong>I understand. Delete my account.</strong>
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input name="delete_replays" type="checkbox"/>
					Also delete my replay data
				</label>
			</div>
			<label>
				<textarea name="delete_reason" placeholder="Tell us why you're leaving" cols="50" rows="5"></textarea>
			</label>
			<div class="form-group">
				<input type="submit" value="Confirm"/>
			</div>
		</form>

		<em>Note: Accounts are not immediately deleted. Logging back in will cancel the request.</em>
	</p>
{% endblock %}
