{% extends "account/base.html" %}

{% block content %}

	<section class="box-section">
		<h3>Delete account</h3>

		<div class="inner">

		<p class="alert alert-info">
			<strong>Did you log in with the wrong Battle.net account?</strong><br/>
			You can link multiple Battle.net accounts
			<a href="{% url 'socialaccount_connections' %}#account-connections">in the Battle.net section</a>.
			If you need to merge an account, <a href="mailto:help@hsreplay.net">contact us directly</a>.
		</p>

		<p>
			Problems with the site? Something you're not happy about?
			Maybe we can fix it. <a href="mailto:help@hsreplay.net">Shoot us an email</a>!
		</p>

		<form action="" method="POST" onsubmit="return confirm('Are you *really* sure?')">
			{% csrf_token %}
			<p>
				Once your data is gone, it's irreversible. Are you sure?
			</p>
			<p class="form-group">
				<label>
					<input name="delete_confirm" type="checkbox" required="required"/>
					<strong>I understand. Delete my account.</strong>
				</label><br/>
				<label>
					<input name="delete_replays" type="checkbox"/>
					Also delete my replay data
				</label>
			</p>

			<p>
				<textarea name="delete_reason" placeholder="Tell us why you're leaving" cols="50" rows="5" class="form-control"></textarea>
			</p>

			<p>
				<em>Note: Accounts are deleted after a week. Logging back in before that will cancel the request.</em>
			</p>
			<p class="form-group">
				<input type="submit" class="btn btn-danger" value="Confirm"/>
			</p>
		</form>

		</div>

	</section>
{% endblock %}
