{% extends "account/base.html" %}
{% load static %}
{% load web_extras %}

{% block content %}
	<h1>Your account</h1>
	<p>
		Signed in as <img src="{% static 'images/bnet.png' %}"/> <strong>{{ user }}</strong>.
	</p>

	<form action="" method="POST">
	{% csrf_token %}

		<h3>Privacy</h3>
		<p>
			By default, your replays are <strong>Public</strong>.
			They may appear in listings such as <em>Related games</em>.
		</p>
		<p>
			You can set the default visibility to be <strong>Unlisted</strong>
			to prevent future games from showing up in such listings.<br/>
			Anyone you share the link to will still be able to view them!
		</p>
		<p>
			{{ form.default_replay_visibility }}
		</p>

		<h3>Replayer Locale</h3>
		<p>
			Customize the default locale of the replayer to any of Hearthstone's locales.<br/>
			This only affects replays on the website.
		</p>
		<p>
			{{ form.locale }}
		</p>

		<input type="submit" class="btn btn-info" value="Save profile"/>
	</form>

	<hr/>

	<h2>API access</h2>
	{% with user.auth_tokens.all as tokens %}
	{% if not tokens.count %}
		<p>
			You do not have any upload client associated with your account.
			<a href="{% setting 'HDT_DOWNLOAD_URL' %}">Download Hearthstone Deck Tracker</a> and
			claim your account from there!
		</p>
	{% else %}
		<p>The following tokens can be used to upload your games. Keep them private!</p>
		<table class="table table-bordered">
			<thead>
				<th>Token</th>
				<th>Created by</th>
				<th>Created on</th>
			</thead>
		{% for token in tokens %}
			<tr>
				<td>{{ token }}</td>
				{% if token.creation_apikey.website %}
					<td><a href="{{ token.creation_apikey.website }}">{{ token.creation_apikey }}</a></td>
				{% else %}
					<td>{{ token.creation_apikey }}</td>
				{% endif %}
				<td>{{ token.created }}</th>
			</tr>
		{% endfor %}
		</table>
	{% endif %}

	{% endwith %}
	</p>
{% endblock %}
