{% extends "account/base.html" %}
{% load static %}
{% load web_extras %}

{% block content %}
	<form action="" method="post" id="account-form">
	{% csrf_token %}
		<section id="account-privacy" class="box-section">
			<h3>Privacy</h3>
			<div class="inner">
				<p>
					By default, your replays are <strong>Public</strong>.
					They may appear in listings such as <em>Related games</em>.
				</p>
				<p>
					You can set the default visibility to be <strong>Unlisted</strong>
					to prevent future games from showing up in such listings.<br/>
					Anyone you share the link to will still be able to view them!
				</p>
				<p>
					{{ form.default_replay_visibility }}
				</p>
			</div>
		</section>

		<section id="account-statistics" class="box-section">
			<h3>Statistics contributions</h3>
			<div class="inner">
				<p>
					We regularly analyze the Hearthstone games uploaded to HSReplay.net and publish
					our findings on the <a href="https://hearthsim.info/">HearthSim Blog</a> or on
					partner websites.<br/>
					<strong>The data is always entirely anonymous and aggregate.</strong>
				</p>
				<p>
					If you want your data to be excluded from these public results, you can check the option
					below.
				</p>
				<p>
					<label>
						{{ form.exclude_from_statistics }}
						Exclude my data from public statistics
					</label>
				</p>
			</div>
		</section>

		<section id="account-locale" class="box-section">
			<h3>Replayer Locale</h3>
			<div class="inner">
				<p>
					Customize the default locale of the replayer to any of Hearthstone's locales.<br/>
					This only affects replays on the website.
				</p>
				<p>
					{{ form.locale }}
				</p>
			</div>
		</section>

		<input type="submit" class="btn btn-primary right" value="Save profile"/>
	</form>

	<hr/>

	{% with user.auth_tokens.all as tokens %}
	<section id="account-api" class="box-section">
		<h3>API access</h3>
		<div class="inner">
		{% if not tokens.count %}
			<p>
				You do not have any upload client associated with your account.
				<a href="{% setting 'HDT_DOWNLOAD_URL' %}">Download Hearthstone Deck Tracker</a> and
				claim your account from there!
			</p>
		{% else %}
			<p>The following tokens can be used to upload your games. Keep them private!</p>
			<table class="table table-bordered">
				<thead>
					<th>Token</th>
					<th>Created by</th>
					<th>Created on</th>
				</thead>
			{% for token in tokens %}
				<tr>
					<td>{{ token }}</td>
					{% if token.creation_apikey.website %}
						<td><a href="{{ token.creation_apikey.website }}">{{ token.creation_apikey }}</a></td>
					{% else %}
						<td>{{ token.creation_apikey }}</td>
					{% endif %}
					<td>{{ token.created }}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
		</div>
	</section>
	{% endwith %}
{% endblock %}
