{% extends "account/login.html" %}

{% block title %}Sign In{% endblock %}

{% load i18n %}
{% load account socialaccount %}
{% block content %}

<div class="account-login login-bnet">
	{% include 'login_button.html' %}<br />
	<p>
		We'll send you to the offfical Battle.net site where you can securely log in.<br/>
		Battle.net will redirect you back here once you're done.
	</p>
	<p>
		HSReplay.net does not gain access to your email address or password.
	</p>
</div>

{% if debug %}

<h1>(Debug only)</h1>

{{ block.super }}
{% endif %}
{% endblock %}
