{% extends "base.html" %}
{% load static %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}

    {% if user.is_staff %}

        {% if results %}
            {{ results }}
        {% endif %}

        <div class="container">

            {% for failure in failures %}

			<div class="row">
				<div class="col-md-4">
                <ul>
                    <li><a href="/upload/failures/{{ failure.shortid }}/">Reprocess</a></li>
                    <li>{{ failure.shortid  }}</li>
                    <li>{{ failure.state }}</li>
                    <li>{{ failure.timestamp }}</li>
                    <li><a href="{{ failure.descriptor_url }}">descriptor</a></li>
                    <li><a href="{{ failure.log_url }}">log</a></li>
                    <li><a href="{{ failure.error_url }}">errors</a></li>
                    <li><a href="https://papertrailapp.com/systems/Lambda/events?q={{ failure.shortid }}">papertrail</a></li>
                </ul>
                </div>
                <div class="col-md-8">
                    <code>{{ failure.error_str }}</code>
                </div>
            </div>
            {% endfor %}

        </div>
    {% endif %}

{% endblock %}
