{% load humanize %}

{% for comment in comment_list %}
	<div class="comment" id="comment-{{ comment.id }}">
		<div class="comment-metadata">
			<span class="comment-author">
				{{ comment.user }}
				{% if comment.user.is_staff %}(Staff){% endif %}
				{% if user.is_staff %}({{ comment.ip_address }}){% endif %}
			</span>
			<a href="#comment-{{ comment.id }}" class="comment-time">
				<time datetime="{{ comment.submit_date |date:'c' }}">{{ comment.submit_date|naturaltime }}</time>
			</a>
		</div>
		<div class="comment-body">{{ comment.comment }}</div>
	</div>
{% empty %}
	<em>No comments posted yet.</em>
{% endfor %}
