h1 {
	font-size: 2.5em;
	margin-top: 0;
}

h2 {
	font-size: 2em;
}

.account-login.login-bnet {
	margin: 10em auto;
	text-align: center;
}

#account-connections {
	td {
		padding: 0.5em;
	}
}

#account-social-link p.alert {
	// Reduce bootstrap alert padding (Link account page)
	padding: 0.5em !important;
	margin: 0 2em;
}

.box-section {
	border: 1px solid $lightgrey;
	margin: 0 0 1em;
	padding: 0;

	h3 {
		background-color: #efefef;
		border-bottom: 1px solid $lightgrey;
		padding: 0.3em;
		margin: 0;
	}

	.inner {
		padding: 0.5em;
	}

	p {
		margin-top: 0.5em;
	}
}
