#comment-form {

	/* Honepot field */
	#id_honeypot {
		display: none;
	}

	textarea {
		height: 8em;
	}

	em {
		color: $darkgrey;
		margin: 1em 0;
		float: right;
	}

	input[type="submit"] {
		display: block;
		margin: 0.5em 0 2em;
	}
}

.comment {
	margin: 1em 0;
	border: 1px solid $lightgrey;

	.comment-metadata {
		background-color: $lightgrey;
		padding: 0.4em;

		.comment-author {
			font-weight: bold;
		}

		.comment-options {
			float: right;

			.comment-time {
				color: $darkgrey;
				font-style: italic;
				padding-right: 0.5em;
			}

			.error {
				background-color: red;
			}
		}
	}

	&.error {
		border-color: #c13838;
	}

	&.deleted {
		display: none;
	}

	.comment-body {
		padding: 1em;
		margin: 0;
		background-color: $offwhite;
	}
}
