#replay-infobox {
	background-color: $blue;
	color: white;
	width: 100%;

	a, a:hover, a:active {
		:not(.btn) {
			color: #3188b8;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		ul {
			margin-top: 0.5em;
		}
	}

	h1 {
		background-color: #3188b8;
		padding: 1em 0;
		font-size: 1.2em;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		background-color: #154b69;
		color: #3ba3db;
		font-size: 1.1em;
		margin: 0;
		padding: 0.5em 0.5em;
		text-transform: uppercase;

		&:last-child {
			padding-bottom: 0.5em;
		}

		a, a:hover, a:active {
			color: inherit;
		}
	}

	li {
		border-bottom: 1px solid #154b69;
		padding: 0.5em 1em;

		ul {
			> li:first-of-type {
				border-top: 1px solid #154b69;
			}

			> li:last-of-type {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}

	#share-game-dialog {
		padding: 1em 0.5em 0;
	}

	.infobox-show-deck {
		float: right;
	}

	.infobox-value {
		color: #3ba3db;
		font-weight: bold;
		float: right;
	}
}
