/* Colors */

/* Primary brand colors*/

$blue: #1d3657;
$red: #c9485b;
$offwhite: #fbf7f6;

/* Supplementary colors */

$aqua: #154b69;
$lightblue: #3188b8;
$lighterblue: #3ba3db; // text on $blue and $aqua

/* Notices and unimportant things */

$darkgrey: #505050;
$lightgrey: #e9e9e9;
